@import "tailwindcss";



 ::-webkit-scrollbar{
  width: 0px;
 }
 
.scrollbarrh::-webkit-scrollbar{
  width: 10px;
 }
 .scrollbarrh::-webkit-scrollbar-track{
  background: rgba(0, 0, 24, 0);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
 }
 .scrollbarrh::-webkit-scrollbar-thumb{
  background: #888888b0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
 }
 .scrollbarrh::-webkit-scrollbar-thumb:hover{
  background: #555;
 }

 .blurkr {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
 


body {

  font-family: Arial, Helvetica, sans-serif;
}
